#resumepage {
    text-align: center;
    background-color: #f6f0fa;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

#resumeImg {
    width: 5%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

#resumeImg:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transform: scale(1.1);
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: #4a154b;
}