footer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: var(--tertiary);
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#footerAddress {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

#entireFooter {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    position: relative;
    bottom: 0;
    width: 100%;
}

#linkedin {
   color:azure; 
}   

#github {
    color:azure;
}

#email {
    color:azure;
}

#phone {
    color:azure;
}

#linkedin:hover {
    color: var(--secondary);

}

#github:hover {
    color: var(--secondary);
}

#email:hover {
    color: var(--secondary);
}

#phone:hover {
    color: var(--secondary);
}

#linkedin, #github, #email, #phone {
    transition: transform 0.2s ease-in-out;
}

#linkedin:hover, #github:hover, #email:hover, #phone:hover {
    color: var(--secondary);
    transform: scale(1.1); /* You can adjust the scale factor as needed */
}


