#allnavItems {
    font-size: 25px;
    color: var(--tertiary);
}

#navItems:hover {
    color: rgb(245, 245, 192);
}

#about,
#projects,
#contact,
#resume {
    color: #fffff0;
    margin-right: 30px; /* Adjust the margin value as needed */
}


#about:hover,
#projects:hover,
#contact:hover,
#resume:hover {
    color: var(--secondary);
    font-size: 26px;
}